img{
    width: 150px;
    height: 150px;
    margin: 2% auto auto auto;
    border-radius: 5px
}
#about-developer-card{
    margin: auto;
    width: 50%;
    margin-top: 2%;
    background-image: url('https://wallpaperscraft.com/image/grass_leaves_drops_background_blur_spot_67968_3840x2160.jpg');
    color: white;
    text-align: center
}
#developer-description{
    color: white
}