<div id="about-developer-card" class="card">
    
  <!--Card image-->
  <img class="img-fluid" src="https://avatars0.githubusercontent.com/u/17890146?s=460&v=4" alt="Card image cap">

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Justin Alberto Castillo V.</h4>
      <!--Text-->
      <p id="developer-description" class="card-text">FullStack & Mobile Developer</p>
      <a href="#" class="btn btn-primary btn-sm waves-light" mdbRippleRadius>Contact</a>
  </div>
    
</div>